
@import './table.scss';
@import './theme.scss';

.app{
    min-height: 100vh;
}


.dataTableHeader {
    background-color: #6366F1;
    color: #fff;
    font-weight: bold;
  }


ul#activeClass{
    li{
        a.active{
            background-color: #6366F1;
            color: #fff;
            font-weight: bold;
        }
    }
}
