@tailwind base;
@tailwind components;
@tailwind utilities;

/* active nav-option design   */
.active{
    background-color: #6366F1;
    color: white;
}


.custom-header {
    background-color: #f5f5f5;
    color: #333;
    /* Add more custom styles for the header */
  }
  
  .custom-header-cell {
    font-weight: bold;
    /* Add more custom styles for the header cells */
  }
.btn-style{
    background-color: #6366F1;
    color: white;
}
.btn-design:hover{
    background-color: #6366F1;
    color: white;

}
